* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

@media only screen and (max-width: 480px) {
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .ant-tabs-nav-wrap {
    justify-content: center;
  }
}
